body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: auto;
  padding: 16px;
}

.titulo {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
}

.menu, .carrinho {
  display: grid;
  gap: 12px;
}

.item, .item-carrinho {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 12px;
  background: #fff;
}

.info, .acoes {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subtitulo {
  margin-top: 24px;
  font-size: 20px;
}

.botao {
  padding: 8px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.adicionar {
  background-color: #2bb84b;
  color: white;
}

.enviar {
  background-color: #007bff;
  color: white;
  margin-top: 12px;
}

.remover {
  background-color: transparent;
  color: #ff394d;
  border: none;
  cursor: pointer;
}

.total {
  margin-top: 16px;
  text-align: right;
}

.valor-total {
  font-size: 18px;
  font-weight: bold;
}

.logo-imagem {
  max-width: 200px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.logo {
  margin-bottom: 25px; /* Ajuste o valor conforme necessário */
}

.abas {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 16px;
  justify-content: center;
}

.aba {
  padding: 8px 16px;
  border: 1px solid #007bff;
  background-color: white;
  color: #007bff;
  cursor: pointer;
  border-radius: 8px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.aba.ativa {
  background-color: #007bff;
  color: white;
}

.aba:hover:not(.ativa) {
  background-color: #e0f0ff;
}